[
  'Apache Virtualhosts Modifier',
  {
    'cmd' => 'printf "# ############################## WEBNAME\\n\\n<VirtualHost *:80>\\n    ServerAdmin EMAIL\\n    ServerName WEBNAME\\n    Redirect permanent / https://WEBNAME\\n</VirtualHost>\\n\\n<IfModule mod_ssl.c>\\n    <VirtualHost *:443>\\n        ServerAdmin EMAIL\\n        ServerName WEBNAME\\n        DocumentRoot /var/www/WEBNAME/\\n\\n        <Directory /var/www/WEBNAME/>\\n            Options Indexes FollowSymLinks MultiViews\\n            AllowOverride All\\n            Require all granted\\n        </Directory>\\n\\n        ErrorLog  \\${APACHE_LOG_DIR}/error.log\\n        CustomLog \\${APACHE_LOG_DIR}/access.log combined\\n   </VirtualHost>\\n</IfModule>\\n\\n\\n" | sudo tee -a /etc/apache2/sites-available/web.conf',
    'regex' => '~/clc-configs/regex-apache-virtual-hosts.txt',
    'stop' => 1,
    'title' => 'Apache Virtual Host Configuration for HTTPS Redirection [STOP]'
  },
  {
    'cmd' => 'printf "# ############################## WEBNAME\\n\\n<VirtualHost *:80>\\n    ServerAdmin EMAIL\\n    ServerName WEBNAME\\n    DocumentRoot /var/www/WEBNAME/\\n\\n    <Directory /var/www/WEBNAME/>\\n        Options Indexes FollowSymLinks MultiViews\\n        AllowOverride All\\n        Require all granted\\n    </Directory>\\n\\n    ErrorLog  \\${APACHE_LOG_DIR}/error.log\\n    CustomLog \\${APACHE_LOG_DIR}/access.log combined\\n</VirtualHost>\\n\\n\\n" | sudo tee -a /etc/apache2/sites-available/web.conf',
    'regex' => '~/clc-configs/regex-apache-virtual-hosts.txt',
    'stop' => 1,
    'title' => 'Apache Virtual Host Configuration for HTTP [STOP]'
  }
]

