[
  'Debian Opencast Command & Control',
  {
    'cmd' => 'sudo journalctl -u opencast.service',
    'title' => 'View Opencast Service Logs'
  },
  {
    'cmd' => 'STOP',
    'title' => 'STOP'
  },
  {
    'cmd' => 'sudo systemctl status opencast.service',
    'title' => 'Check Opencast Service Status'
  },
  {
    'cmd' => 'STOP',
    'title' => 'STOP'
  },
    {
    'cmd' => 'sudo systemctl start opencast.service',
    'title' => 'Start Opencast Service'
  },
  {
    'cmd' => 'sudo systemctl enable opencast.service',
    'title' => 'Enable Opencast Service'
  },
  {
    'cmd' => 'STOP',
    'title' => 'STOP'
  },
  {
    'cmd' => 'sudo systemctl stop opencast.service',
    'title' => 'Stop Opencast Service'
  },
  {
    'cmd' => 'STOP',
    'title' => 'STOP'
  },
  {
    'cmd' => 'sudo systemctl restart opencast.service',
    'title' => 'Restart Opencast Service'
  },
  {
    'cmd' => 'STOP',
    'title' => 'STOP'
  },
  {
    'cmd' => 'sudo systemctl disable opencast.service',
    'title' => 'Disable Opencast Service'
  }
]
