[
  'Insall Apache With Mod Perl 2',
  {
    'cmd' => 'sudo apt install -y apache2 apache2-utils libapache2-mod-perl2',
    'title' => 'Install apache2 and mod perl 2'
  },
  {
    'cmd' => 'sudo a2enmod rewrite',
    'title' => 'Enable mod rewrite'
  },
  {
    'cmd' => 'sudo a2enmod ssl',
    'title' => 'Enable ssl'
  },
  {
    'cmd' => 'sudo a2enmod perl',
    'title' => 'Enable perl'
  },
  {
    'cmd' => 'sudo a2dissite 000-default.conf',
    'title' => 'Disable 000-default.conf'
  },
  {
    'cmd' => 'sudo touch /etc/apache2/sites-available/web.conf',
    'title' => 'Create web.conf'
  },
  {
    'cmd' => 'sudo a2ensite web.conf',
    'title' => 'Enable web.conf'
  },
  {
    'cmd' => 'sudo service apache2 reload',
    'title' => 'Apache reload'
  }
]

