[
  'Debian Opencast Command & Control',
  {
    'cmd' => 'sudo journalctl -u opencast.service',
    'title' => 'View Opencast Service Logs [STOP]',
    'stop' => 1
  },
  {
    'cmd' => 'sudo systemctl status opencast.service',
    'title' => 'Check Opencast Service Status [STOP]',
    'stop' => 1
  },
    {
    'cmd' => 'sudo systemctl start opencast.service',
    'title' => 'Start Opencast Service'
  },
  {
    'cmd' => 'sudo systemctl enable opencast.service',
    'title' => 'Enable Opencast Service [STOP]',
    'stop' => 1
  },
  {
    'cmd' => 'sudo systemctl stop opencast.service',
    'title' => 'Stop Opencast Service [STOP]',
    'stop' => 1
  },
  {
    'cmd' => 'sudo systemctl restart opencast.service',
    'title' => 'Restart Opencast Service [STOP]',
    'stop' => 1
  },
  {
    'cmd' => 'sudo systemctl disable opencast.service',
    'title' => 'Disable Opencast Service'
  }
]
