[
  'Insall Apache With Mod Perl 2 -- Create Web Folder',
  {
    'cmd' => 'sudo chown -R LINUXUSER:www-data /var/www',
    'regex' => '~/clc-configs/regex-apache.txt',
    'title' => 'Change ownership /var/www'
  },
  {
    'cmd' => 'sudo chmod -R 775 /var/www',
    'title' => 'Change modify /var/www'
  },
  {
    'cmd' => 'sudo service apache2 restart',
    'title' => 'Apache2 reset'
  },
  {
    'cmd' => 'cd /var/www && sudo chown -R LINUXUSER:www-data .',
    'regex' => '/home/mike/clc-configs/regex-apache.txt',
    'title' => 'Change folder to /var/www and modify ownership'
  },
  {
    'cmd' => 'cd /var/www && sudo chmod -R 775 .',
    'title' => 'Change folder to /var/www and modify permissions'
  },
  {
    'cmd' => 'mkdir -p /var/www/WEBFOLDER',
    'regex' => '~/clc-configs/regex-apache.txt',
    'title' => 'Make webfolder'
  }
]

