[
  'Debian Extras Installer',
  {
    'cmd' => 'sudo apt install -y youtube-dl',
    'title' => 'install youtube-dl'
  },
  {
    'cmd' => 'sudo apt install -y xdotool',
    'title' => 'install xdotool'
  },
  {
    'cmd' => 'sudo apt install -y minimodem',
    'title' => 'install minimodem'
  },
  {
    'cmd' => 'sudo apt install -y zbar-tools',
    'title' => 'install zbar-tools'
  },
  {
    'cmd' => 'sudo apt install -y qrencode',
    'title' => 'install qrencode'
  },
  {
    'cmd' => 'sudo apt install -y sox',
    'title' => 'install sox'
  },
  {
    'cmd' => 'sudo apt install -y ffmpeg',
    'title' => 'install ffmpeg'
  },
  {
    'cmd' => 'sudo apt install -y imagemagick',
    'title' => 'install imagemagick'
  },
  {
    'cmd' => 'sudo apt install -y zenity',
    'title' => 'install zenity'
  },
  {
    'cmd' => 'sudo apt install -y dialog',
    'title' => 'install dialog'
  },
  {
    'cmd' => 'sudo apt install -y expect',
    'title' => 'install expect'
  },
  {
    'cmd' => 'sudo apt install -y yad',
    'title' => 'install yad'
  },
  {
    'cmd' => 'sudo apt install -y kate',
    'title' => 'install kate'
  },
  {
    'cmd' => 'sudo apt install -y mc',
    'title' => 'install mc'
  },
  {
    'cmd' => 'sudo apt install -y ranger',
    'title' => 'install ranger'
  },
  {
    'cmd' => 'sudo apt install -y psensor',
    'title' => 'install psensor'
  },
  {
    'cmd' => 'sudo apt install -y thermald',
    'title' => 'install thermald'
  }
]

