[
  'Ruby Installer',
  {
    'cmd' => 'sudo apt install ruby -y',
    'title' => 'Install Ruby'
  },
  {
    'cmd' => 'sudo gem install colorize',
    'title' => 'Install Ruby Gem: Colorize'
  },
  {
    'cmd' => 'sudo gem install capybara',
    'title' => 'Install Ruby Gem: Capybara'
  },
  {
    'cmd' => 'sudo gem install selenium-webdriver',
    'title' => 'Install Ruby Gem: Selenium WebDriver'
  },
  {
    'cmd' => 'echo "Download GeckoDriver from: https://github.com/mozilla/geckodriver/releases"',
    'title' => 'Display GeckoDriver URL'
  }
]

