[
  'Debian Basics Installer',
  {
    'cmd' => 'sudo apt install -y build-essentials',
    'title' => 'install build-essentials'
  },
  {
    'cmd' => 'sudo apt install -y make',
    'title' => 'install make'
  },
  {
    'cmd' => 'sudo apt install -y neofetch',
    'title' => 'install neofetch'
  },
  {
    'cmd' => 'sudo apt install -y perl',
    'title' => 'install perl'
  },
  {
    'cmd' => 'sudo apt install -y ruby',
    'title' => 'install ruby'
  },
  {
    'cmd' => 'sudo apt install -y ufw',
    'title' => 'install ufw'
  },
  {
    'cmd' => 'sudo apt install -y vim',
    'title' => 'install vim'
  },
  {
    'cmd' => 'sudo apt install -y git',
    'title' => 'install git'
  },
  {
    'cmd' => 'sudo apt install -y rsync',
    'title' => 'install rsync'
  },
  {
    'cmd' => 'sudo apt install -y make',
    'title' => 'install make'
  },
  {
    'cmd' => 'sudo apt install -y curl',
    'title' => 'install curl'
  },
  {
    'cmd' => 'sudo apt install -y wget',
    'title' => 'install wget'
  },
  {
    'cmd' => 'sudo apt install -y ack-grep',
    'title' => 'install ack-grep'
  },
  {
    'cmd' => 'sudo apt install -y gpm',
    'title' => 'install gpm'
  },
  {
    'cmd' => 'sudo apt install -y pcregrep',
    'title' => 'install pcregrep'
  },
  {
    'cmd' => 'sudo apt install -y lynx',
    'title' => 'install lynx'
  },
  {
    'cmd' => 'sudo apt install -y htop',
    'title' => 'install htop'
  },
  {
    'cmd' => 'sudo apt install -y git',
    'title' => 'install git'
  },
  {
    'cmd' => 'sudo apt install -y ssh',
    'title' => 'install ssh'
  },
  {
    'cmd' => 'sudo apt install -y net-tools',
    'title' => 'install net-tools'
  },
  {
    'cmd' => 'sudo apt install -y ifupdown',
    'title' => 'install ifupdown'
  },
  {
    'cmd' => 'sudo apt install -y unzip',
    'title' => 'install unzip'
  }
]

