[
  'PHP Installer',
  {
    'cmd' => 'sudo apt install php -y',
    'title' => 'Install PHP'
  },
  {
    'cmd' => 'sudo apt install libapache2-mod-php -y',
    'title' => 'Install PHP Apache Module'
  },
  {
    'cmd' => 'sudo apt install php-mysql -y',
    'title' => 'Install PHP MySQL'
  },
  {
    'cmd' => 'sudo apt install php-curl -y',
    'title' => 'Install PHP cURL'
  },
  {
    'cmd' => 'sudo apt install php-gd -y',
    'title' => 'Install PHP GD'
  },
  {
    'cmd' => 'sudo apt install php-mbstring -y',
    'title' => 'Install PHP MBString'
  },
  {
    'cmd' => 'sudo apt install php-xml -y',
    'title' => 'Install PHP XML'
  },
  {
    'cmd' => 'sudo apt install php-xmlrpc -y',
    'title' => 'Install PHP XMLRPC'
  },
  {
    'cmd' => 'sudo apt install php-soap -y',
    'title' => 'Install PHP SOAP'
  },
  {
    'cmd' => 'sudo apt install php-intl -y',
    'title' => 'Install PHP Internationalization'
  },
  {
    'cmd' => 'sudo apt install php-zip -y',
    'title' => 'Install PHP ZIP'
  },
  {
    'cmd' => 'php --ini | perl -nlE \'say $& if m[^/]+\\K/.*?php.ini\\Z\' | sudo xargs -n 1 -I {} perl -i-$(date \'+%s\').bak -pe \'s^upload_max_filesize\\s+=\\s+\\K([[:alnum:]-]+)(?{ $m = q|500M| })|^post_max_size\\s+=\\s+\\K(?1)(?{ $m = q|500M| })|^memory_limit\\s+=\\s+\\K(?1)(?{ $m = q|256M| })$m`mge\' {}',
    'title' => 'Set PHP INI Parameters'
  },
  {
    'cmd' => 'sudo service apache2 restart',
    'title' => 'Restart Apache2'
  }
]

