[
  'Install MySQL',
  {
    'cmd' => 'sudo apt update -y',
    'title' => 'Update Package Lists'
  },
  {
    'cmd' => 'sudo apt install mysql-server -y',
    'title' => 'Install MySQL Server'
  },
  {
    'cmd' => 'sudo mysql -e "ALTER USER \'root\'@\'localhost\' IDENTIFIED WITH mysql_native_password BY \'mysql555\';"',
    'title' => 'Set the MySQL Root Password to "mysql555"'
  },
  {
    'cmd' => 'sudo mysql -e "DELETE FROM mysql.user WHERE User=\'\';"',
    'title' => 'Remove Anonymous Users'
  },
  {
    'cmd' => 'sudo mysql -e "UPDATE mysql.user SET Host=\'localhost\' WHERE User=\'root\' AND Host<>\'localhost\';"',
    'title' => 'Disallow Root Login Remotely'
  },
  {
    'cmd' => 'sudo mysql -e "DROP DATABASE IF EXISTS test;"',
    'title' => 'Remove Test Database'
  },
  {
    'cmd' => 'sudo mysql -e "DELETE FROM mysql.db WHERE Db=\'test\' OR Db=\'test\\\\_%\';"',
    'title' => 'Remove Privileges on Test Database'
  },
  {
    'cmd' => 'sudo mysql -e "FLUSH PRIVILEGES;"',
    'title' => 'Reload Privilege Tables'
  },
  {
    'cmd' => 'sudo systemctl restart mysql.service',
    'title' => 'Restart MySQL Service'
  }
]

