[
  'UFW Configuration for Web Servers',
  {
    'cmd' => 'sudo ufw default allow outgoing',
    'title' => 'Allow Outgoing Connections'
  },
  {
    'cmd' => 'sudo ufw default deny incoming',
    'title' => 'Deny Incoming Connections'
  },
  {
    'cmd' => 'sudo ufw allow ssh',
    'title' => 'Allow SSH Connections'
  },
  {
    'cmd' => 'sudo ufw allow http',
    'title' => 'Allow HTTP Connections'
  },
  {
    'cmd' => 'sudo ufw allow https',
    'title' => 'Allow HTTPS Connections'
  },
  {
    'cmd' => 'yes | sudo ufw enable',
    'title' => 'Enable UFW'
  },
  {
    'cmd' => 'sudo ufw status verbose',
    'title' => 'Check UFW Status'
  }
]

