[
  'Debian Opencast Setup',
  {
    'cmd' => 'sudo apt update',
    'title' => 'Update Package Listings'
  },
  {
    'cmd' => 'sudo apt install build-essential -y',
    'title' => 'Install Build Essentials'
  },
  {
    'cmd' => 'sudo apt install make -y',
    'title' => 'Install Make Utility'
  },
  {
    'cmd' => 'sudo apt-get install -y apt-transport-https ca-certificates sudo wget gnupg2',
    'title' => 'Install HTTPS Transport and Certificates'
  },
  {
    'cmd' => 'echo "deb https://pkg.opencast.org/debian 14.x stable" | sudo tee /etc/apt/sources.list.d/opencast.list',
    'title' => 'Add Opencast Repository Stable'
  },
  {
    'cmd' => 'echo "deb https://pkg.opencast.org/debian 14.x stable testing" | sudo tee /etc/apt/sources.list.d/opencast.list',
    'title' => 'Add Opencast Repository Testing (Optional)'
  },
  {
    'cmd' => 'wget -qO - https://pkg.opencast.org/gpgkeys/opencast-deb.key | sudo apt-key add -',
    'title' => 'Add Repository Key (Deprecated Method)'
  },
  {
    'cmd' => 'sudo apt-get update',
    'title' => 'Update Package Listings Again'
  },
  {
    'cmd' => 'sudo apt-get -y install opensearch',
    'title' => 'Install OpenSearch'
  },
  {
    'cmd' => 'sudo systemctl restart opensearch && sudo systemctl enable opensearch',
    'title' => 'Restart and Enable OpenSearch'
  },
  {
    'cmd' => 'sudo apt-get -y install opencast-14-allinone opensearch',
    'title' => 'Install Opencast All-in-One'
  },
  {
    'cmd' => 'sudo systemctl start opencast.service && sudo systemctl enable opencast.service',
    'title' => 'Start and Enable Opencast Service'
  },
  {
    'cmd' => 'echo "export OP=/etc/opencast" >> $HOME/.bashrc && echo "alias OPC=\'vi /etc/opencast/config.properties\'" >> $HOME/.bashrc',
    'title' => 'Modify .bashrc for Opencast Environment'
  },
  {
    'cmd' => 'perl -M\'Term::ANSIColor qw(:constants)\' -se \'print q|> |, BLUE qq|Install complete! Press enter to reboot!|, RESET; <STDIN>; system $reboot\' -- -reboot=\'sudo shutdown -r now\'',
    'title' => 'Reboot System With Confirmation'
  }
]

