[
  'Perl installer',
  {
    'cmd' => 'sudo apt install perl -y',
    'title' => 'Install Perl'
  },
  {
    'cmd' => 'sudo apt install cpanminus -y',
    'title' => 'Install CPAN Minus'
  },
  {
    'cmd' => 'sudo cpanm HTTP::Request::Common LWP::UserAgent',
    'title' => 'Install Perl HTTP Request and LWP UserAgent Modules'
  },
  {
    'cmd' => 'sudo cpanm JSON::XS',
    'title' => 'Install Perl JSON XS Module'
  },
  {
    'cmd' => 'sudo cpanm Regexp::Grammars',
    'title' => 'Install Perl Regexp Grammars Module'
  },
  {
    'cmd' => 'sudo cpanm Data::Dump',
    'title' => 'Install Perl Data Dump Module'
  }
]

