[
  'Git push',
  {
    'cmd' => 'git status',
    'title' => 'Git status'
  },
  {
    'cmd' => 'git add .',
    'title' => 'Add All Changes to Staging'
  },
  {
    'cmd' => 'ruby -se \'print %q|> commit: |; update = gets.chomp; $git.sub!(%r~COMMIT~, %Q|#{Time.now.to_i}: #{update}|); puts %Q|> #{$git}|; system $git\' -- -git=\'git commit -m "COMMIT"\'',
    'title' => 'Commit Changes with Ruby Script'
  },
  {
    'cmd' => 'git push',
    'title' => 'Push Changes to Remote'
  },
  {
    'cmd' => 'git pull',
    'title' => 'Pull Latest Changes if Necessary'
  }
]

