[
  'Pantheon Updater',
  {
    'cmd' => 'terminus connection:set SITE.ENV git',
    'regex' => '~/clc-configs/regex-pantheon.txt',
    'title' => 'Set Connection Mode to Git with Terminus for SITE.ENV'
  },
  {
    'cmd' => 'git checkout -t origin/ENV',
    'regex' => '~/clc-configs/regex-pantheon.txt',
    'title' => 'Checkout Remote Git Branch'
  },
  {
    'cmd' => 'composer update "drupal/core-*" --with-all-dependencies',
    'title' => 'Update Drupal Core with Composer'
  },
  {
    'cmd' => 'git add .',
    'title' => 'Stage Changes in Git'
  },
  {
    'cmd' => 'ruby -se \'print %q|> commit: |; update = gets.chomp; $git.sub!(%r~COMMIT~, %Q|#{Time.now.to_i}: #{update}|); puts %Q|> #{$git}|; system $git\' -- -git=\'git commit -m "COMMIT"\'',
    'title' => 'Git Commit with Ruby Script for Dynamic Message'
  },
  {
    'cmd' => 'git push origin ENV',
    'regex' => '~/clc-configs/regex-pantheon.txt',
    'title' => 'Push Changes to Remote Git Repository',
    'stop' => 1
  },
  {
    'cmd' => 'perl -MTerm::ANSIColor=:constants -sE \'@ch=split m`\\|`, $git; while (1) { $n=0; map { say $n++, qq| ${_}|;  } @ch; print q|> |, BOLD YELLOW UNDERLINE q|choose:|, RESET q| |; $ch=<STDIN>; chomp $ch; say q|> |, BOLD GREEN UNDERLINE $ch[$ch], RESET; say q|~|x45; sleep 5; system $ch[$ch]; say q|~|x45;  }\' -- -git=\'git log|git status|git remote -v\'',
    'title' => 'Interactive Git Commands with Perl',
    'stop' => 1
  },
  {
    'cmd' => 'terminus connection:set SITE.ENV sftp',
    'regex' => '~/clc-configs/regex-pantheon.txt',
    'title' => 'Set Connection Mode to SFTP with Terminus for SITE.ENV'
  },
  {
    'cmd' => 'terminus drush updb',
    'title' => 'Run Database Updates with Drush via Terminus'
  },
  {
    'cmd' => 'terminus drush cr',
    'title' => 'Clear Drupal Cache with Drush via Terminus'
  },
  {
    'cmd' => 'terminus connection:set SITE.ENV git',
    'regex' => '~/clc-configs/regex-pantheon.txt',
    'title' => 'Set Connection Mode Back to Git with Terminus for SITE.ENV'
  }
]

