[
  'Cacti Installer',
  {
    'cmd' => 'sudo apt install rrdtool -y',
    'title' => 'Install RRDtool'
  },
  {
    'cmd' => 'sudo apt-get install snmp snmpd -y',
    'title' => 'Install SNMP Tools'
  },
  {
    'cmd' => 'sudo apt-get install snmp-mibs-downloader -y',
    'title' => 'Install SNMP MIBs Downloader'
  },
  {
    'cmd' => 'sudo apt-get install libsnmp-dev -y',
    'title' => 'Install SNMP Development Libraries'
  },
  {
    'cmd' => 'sudo apt-get install librrd-dev librrds-perl -y',
    'title' => 'Install RRD Development Libraries and Perl Integration'
  },
  {
    'cmd' => 'sudo apt-get install cron -y',
    'title' => 'Install Cron'
  },
  {
    'cmd' => 'sudo apt install -y apache2 apache2-utils libapache2-mod-perl2',
    'title' => 'Install Apache and Utilities'
  },
  {
    'cmd' => 'sudo a2enmod rewrite',
    'title' => 'Enable Apache Rewrite Module'
  },
  {
    'cmd' => 'sudo a2dissite 000-default.conf',
    'title' => 'Disable Default Apache Site'
  },
  {
    'cmd' => 'sudo touch /etc/apache2/sites-available/web.conf',
    'title' => 'Create Apache Configuration for New Site'
  },
  {
    'cmd' => 'sudo a2ensite web.conf',
    'title' => 'Enable New Apache Site Configuration'
  },
  {
    'cmd' => 'sudo service apache2 start',
    'title' => 'Start Apache Service'
  },
  {
    'cmd' => 'sudo service apache2 reload',
    'title' => 'Reload Apache Service Configuration'
  },
  {
    'cmd' => 'sudo chown -R www-data: /var/www',
    'title' => 'Set Ownership for Web Directory'
  },
  {
    'cmd' => 'sudo chmod -R 777 /var/www',
    'title' => 'Set Permissions for Web Directory'
  },
  {
    'cmd' => 'sudo service apache2 restart',
    'title' => 'Restart Apache Service'
  },
  {
    'cmd' => 'sudo perl -0777 -i.$(date +%s) -sple \'$_=qq`<VirtualHost *:80>\\n    ServerAdmin m.limberger@utoronto.ca\\n    ServerName localhost:80\\n    ServerAlias miker.media\\n    DocumentRoot /var/www\\n    <Directory /var/www/>\\n        Options Indexes FollowSymLinks MultiViews\\n        AllowOverride All\\n        Order allow,deny\\n        allow from all\\n        IndexOrderDefault Descending Date\\n    </Directory>\\n    ErrorLog /var/log/web-error.log\\n    LogLevel warn\\n    CustomLog /var/log/web-access.log combined\\n</VirtualHost>\\n`;\' /etc/apache2/sites-available/web.conf',
    'title' => 'Modify Virtual Hosts File'
  },
  {
    'cmd' => 'sudo apt install mariadb-server mariadb-client -y',
    'title' => 'Install MariaDB Server and Client'
  },
  {
    'cmd' => 'sudo systemctl start mariadb && sudo systemctl enable mariadb',
    'title' => 'Start and Enable MariaDB'
  },
  {
    'cmd' => 'sudo mysqladmin -u root password \'mysql555\'',
    'title' => 'Set MariaDB Root Password'
  },
  {
    'cmd' => 'sudo systemctl restart mariadb',
    'title' => 'Restart MariaDB Service'
  },
  {
    'cmd' => 'sudo mysql -uroot -p\'mysql555\' -e "CREATE DATABASE web CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"',
    'title' => 'Create Database'
  },
  {
    'cmd' => 'sudo mysql -uroot -p\'mysql555\' -e "CREATE USER \'webuser\'@localhost IDENTIFIED BY \'web555\';"',
    'title' => 'Create Database User'
  },
  {
    'cmd' => 'sudo mysql -uroot -p\'mysql555\' -e "GRANT ALL PRIVILEGES ON web.* to \'webuser\'@\'localhost\';"',
    'title' => 'Grant Privileges to User'
  },
  {
    'cmd' => 'sudo mysql -uroot -p\'mysql555\' -e "FLUSH PRIVILEGES;"',
    'title' => 'Flush Privileges'
  },
  {
    'cmd' => 'sudo apt install libapache2-mod-php php-mysql php-xml php-gd php-snmp php-json php-intl php-mbstring php-ldap php-gmp -y',
    'title' => 'Install PHP Modules'
  },
  {
    'cmd' => 'sudo perl -i.$(date +%s) -sple \'eval qq|$mem $exec $zone|;\' -- -mem=\'s`^memory_limit = \\K\\d+(?=M)`512`;\' -exec=\'s`^max_execution_time = \\K\\d+`60`;\' -zone=\'s`^;(date.timezone =)`$1 America/Toronto`;\' \'/etc/php/7.4/cli/php.ini\' \'/etc/php/7.4/apache2/php.ini\'',
    'title' => 'Adjust PHP Configuration'
  },
  {
    'cmd' => 'cd /tmp && sudo wget --no-check-certificate https://www.cacti.net/downloads/cacti-latest.tar.gz && sudo tar xzf /tmp/cacti-latest.tar.gz -C /var/www --strip-components=1',
    'title' => 'Download and Install Cacti'
  },
  {
    'cmd' => 'sudo perl -i.$(date +%s) -ple \'s`utf8mb4_general_ci`utf8mb4_unicode_ci`g\' /var/www/cacti.sql && sudo mysql -u root -p\'mysql555\' web < /var/www/cacti.sql',
    'title' => 'Prepare Cacti Database'
  },
  {
    'cmd' => 'sudo timedatectl set-timezone America/Toronto && sudo mysql_tzinfo_to_sql /usr/share/zoneinfo | sudo mysql -u root -p\'mysql555\' mysql',
    'title' => 'Set System Timezone and MySQL Timezone Info'
  },
  {
    'cmd' => 'sudo mysql -u root -p\'mysql555\' -e "GRANT SELECT ON mysql.time_zone_name TO \'webuser\'@\'localhost\' IDENTIFIED BY \'web555\'; FLUSH PRIVILEGES; USE mysql; SOURCE /usr/share/mysql/mysql_system_tables.sql;"',
    'title' => 'Grant Permissions and Import MySQL System Tables'
  },
  {
    'cmd' => 'sudo chown -R www-data: /var/www/',
    'title' => 'Set Ownership for Cacti Directory'
  },
  {
    'cmd' => 'sudo cp \'/var/www/include/config.php.dist\' \'/var/www/include/config.php\'',
    'title' => 'Copy Cacti Configuration File'
  },
  {
    'cmd' => 'sudo perl -i.$(date +%s) -0777 -ple \'$_ = qq`[mysql]\\n\\n[mysqld]\\ncharacter-set-server=utf8mb4\\ncollation-server = utf8mb4_unicode_ci\\n`;\' /etc/mysql/conf.d/mysql.cnf && sudo service mysql restart',
    'title' => 'Create and Modify mysql.cnf'
  },
  {
    'cmd' => 'sudo perl -i.$(date +%s) -sple \'s`^\\$database_(?:type(?{$m=q~mysql~})|default(?{$m=q~web~})|hostname(?{$m=q~localhost~})|username(?{$m=q~webuser~})|password(?{$m=q~web555~})|port(?{$m=q~3306~}))\\ +=\\ +(\\x{27})\\K[^\\x{27}]+(?=(?1))`$m`gm; s`^\\$url_path = \\x{27}\\K[^\\x{27}]+`/`m;\' -- \'/var/www/include/config.php\'',
    'title' => 'Edit Cacti Config'
  }
]

